PORT=3000
MONGODB_ONLY=false
MONGODB_URI=mongodb+srv://USERNAME:URL_ENCODED_PASSWORD@YOUR_CLUSTER.mongodb.net/raw_radicles?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=raw_radicles

# Optional Odoo integration
ODOO_URL=
ODOO_DB=
ODOO_USERNAME=
ODOO_API_KEY=
